@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root{
    --primary-color:#f60f20;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

html, body{
    height: 100%;
   font-family: 'Poppins',sans-serif;
   color: rgb(0, 0, 0); 
}


h1{
    font-size:30px ;
    font-weight: 500;

}
p{
    margin:20px 0 10px;
    font-size: 1,1rem;
}

section{
    display: flex;
    height: 100vh;
    align-items: center;
    padding: 100px;
    margin-top: 60px;
    flex-direction: column;
}

section.home{
    flex-direction: row;
    margin-top: 0;
}

.btn{
    cursor: pointer;
    display: inline-block;
    background:var(--primary-color);
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    margin:20px 0;
    border-radius:4px;
}

.btn:hover{
    transform:scale(0.99);
    color: rgb(255, 255, 255);
    background-color: #e6333f;
    transition: 0.8s;
}

.logo{
    position: absolute;
    top: 30px;
    left: 100px;
    font-size: 2rem;
    font-weight: 700;
    z-index: 20;
}

.toggle{
     position: fixed;
     top: 0;
     right:0;
     width: 60px;
     height:60px;
     background:var(--primary-color) url(../images/menu.png);
     background-size: 30px;
     border-radius:0 0 4px 4px;
     background-position: center;
     background-repeat: no-repeat;
     z-index: 20;
     cursor: pointer;
}

.toggle.active{
    position:fixed;
    background:var(--primary-color) url(../images/close.png);
    background-size: 25px;
     border-radius: 4px;
     background-position: center;
     background-repeat: no-repeat;

}
.toggle.active:hover{
    background-color: #fd4e4e;
}
.toggle:hover{
    background-color: #e6333f;
}
.home-content{
    width: 100%;
    position:relative;
    z-index:10 ;
}

.home-content h1{
    font-weight: 600;
    color: rgb(255, 52, 52);
    width: 100%;
    font-size: 55px;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.home-content p{ 
    width: 40%;
    margin: 5px;
    text-justify: relative;
    margin-top: 20px;
    font-size: 16px;
}

.home-img{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 180%;
    filter: opacity(0.8);
}

.navigation{
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation.active{
    left: 0;
} 

.navigation ul{
    position: active;
    line-height: 1.8;
}
.navigation ul li{
    position: relative;
    list-style:none;
    text-align: center;
}

.navigation ul li a{
    letter-spacing: 9px;
    font-size: 3rem;
    text-decoration: none;
    font-weight: 100;
    color:#111;
}
.navigation ul li a:hover{
    transform:scale(0.99);
    color: #ff404c;
}
.navigation .social-bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation .social-bar a{
    display: inline-block;
    transform: scale(0.5);
}

.navigation .email-icon{
    position:absolute;
    bottom:20px;
    transform: scale(0.5);

}

.services{
    margin-top: 40px;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap:40px;
    text-align: center;
} 

.services .service{
    padding: 30px;
    background-color: rgb(248, 248, 248);
    border-radius: 4px;
}

.services .service:hover{
    box-shadow:0 10px 10px rgba(181, 101, 255, 0.541);
    transition:0.8s;
}

.services .service h2{
    font-size: 24px;
    font-weight: 400;
    margin-top: 20px;
    color: rgb(5, 11, 95);
}

.services .service .icon img{
    max-width: 100px;
    }


.portfolio{
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}

.portfolio .item {
    width: 300px;
    height: 300px;
    position: relative;
    margin: 5px;
}

.portfolio .item .action{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity:0;
    transition: 0.5s;
}

.portfolio .item:hover .action{
    opacity: 1;
}

.portfolio .item img{
    width: 100%;
    height: 100%;

}

.portfolio .item .action a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 5px 15px;
}

.title h1 {
    color: #fd4141;
    font-size: 50px;
    font-weight: 600;
}

.title p {
    width: 45%;
}


@media(max-width:768px){

    .services{
        margin-top: 40px;
        display: grid;
        grid-template-columns:1fr;
        gap:40px;
        text-align: center;
    }
    
    .services .service {
        box-shadow:0 10px 10px rgba(181, 101, 255, 0.541);
    }
}


@media(max-width:1068px){
    .home-img{
        display: none;
    }

    .logo{
        top:10px;
        left:40px;
        font-size: 1.5rem;
    }

    section{
        padding: 100px 40px;
    }

    .navigation ul li a{
        font-size:2rem;
    }
    .services{
     margin-top: 40px;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap:40px;
    text-align: center;
    }
}